<nav class="nav-extended animated fadeIn purple darken-3">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Chats</a>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a class="active"  href="#tab1">Users</a></li>
      <li class="tab"><a  href="#tab2">Test 2</a></li>
    </ul>
  </div>
</nav>

<!-- Users Section -->
<div id="tab1" class="col s12">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="../../../assets/img/yuna.jpg" alt="" class="circle responsive-img">
        </div>
        <div class="col s10">
          <span class="black-text">
            User Name
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contacts Section -->
<div id="tab2" class="col s12"></div>