<nav class="purple darken-3">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Chat</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
</nav>

<div class="container login__container animated bounceInUp">
    <div class="row">
        <div class="col s12 m7">
            <div class="card z-depth-1">
                <div class="card-image">
                    <img src="../../../assets/img/chat.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>Por Favor inicia sesión para poder acceder a tus increibles chats</p>
                </div>
                <div class="card-action">
                    <button (click)="logIn()" class="btn purple darken-3 text-white animated bounces btn-block">Iniciar sesión</button>
                </div>
            </div>
        </div>
    </div>
</div>
    
    
    